<!DOCTYPE html>
<!--Identifica a versão do html-->
<html lang="pt-br">
<!-- Idioma d página-->

<head>
    <!--Parte pensante "ligações"-->
    <meta charset="UTF-8"> <!-- Garantia de acentuação da página-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Compatibilidade com o edge -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Link para as apis do AJAX -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css" /> 
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script> 
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <!-- Link para os arquivos java -->
    <script type="text/javascript" src="../js/ValidaForm.js"></script>
    <!-- Link para o arquivo javascript -->
    <!-- Altera a escala da página para outros dispositivos-->
    <title>FutureWeb - Contato</title>
    <!--Título do documento-->
    <link rel="stylesheet" href="../css/estilo.css" type="text/css" />
    <!-- Link para o css -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap" rel="stylesheet">
    Link para o google fonts -->
</head>

<body>
    <!--Parte visual do site-->
    <div id="container">
        <header>
            <hgroup><a href="../index.html">
                    <h1>FutureWeb</h1> <!-- Apenas um h1 é colocado em cada página-->
                    <h2>Desenvolvimento Web - Novas Tecnologias</h2>
                </a>
            </hgroup>
        </header>
        <nav>
            <ul>
                <li><a href="../sobre.html">sobre nós</a></li>
                <li><a href="../servicos.html">serviços</a></li>
                <li><a href="../contato.html">contato</a></li>
                <li><a href="contatos.html">contatos</a></li>
                <li><a href="login.html">login</a></li>
            </ul>
        </nav>
        <div id="shadow">
            <section id="principal">
                <div id="formulario">
                    <h2>Fale Conosco</h2>
                    <form action="" method="" name="contatos" id="frmContatos">
                        <!-- métodos que necessitem maior segurança, utlilzar o post -->
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="txtNome" placeholder="Digite seu nome" autofocus>
                        <label for="mail">E-mail *</label>
                        <input type="email" id="mail" name="txtMail" maxlength="50"
                            placeholder="Ex.: username@email.com" required>
                        <!-- tabindex="1" required="required"-->
                        <br>
                        <label for="phone">Telefone</label>
                        <input type="tel" id="phone" name="txtPhone" maxlength="11" pattern="[0-9]{6}-[0-9]{4}" placeholder="xxxxxx-xxxx">
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" name="txtCEP" maxlength="9" placeholder="xxxxx-xxx">
                        <input type="button" id="busc-cep" name="btnCep" value="Buscar CEP">
                        <br>
                        <label for="endereco">Endereço</label>
                        <input type="text" id="endereco" name="txtEndereco" placeholder="Informe seu endereço">
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" name="txtBairro" placeholder="Informe o bairro">
                        <br>
                        <label for="cidade">Cidade</label>
                        <input type="text" id="cidade" name="txtCidade" placeholder="Informe a cidade">
                        <label for="uf">UF</label>
                        <input type="text" id="uf" name="txtUF" maxlength="2" placeholder="UF">
                        <br>                       
                        <input type="button" id="btnEnviar" name="btnEnviar" value="Enviar">
                        <input type="button" id="btnListar" name="btnListar" value="Listar">
                        <input type="reset" id="btnLimpar" name="btnLimpar" value="Limpar Formulário">
                    </form>
                    <span id="Resultado" class="pop"><span>

                    <div id="dialog" title="Atenção">
                        <p id="resultado"></p>
                    </div>
                </div>
            </section>           
        </div>
        <nav>
            <ul>
                <li><a href="../sobre.html">sobre nós</a></li>
                <li><a href="../servicos.html">serviços</a></li>
                <li><a href="../contato.html">contato</a></li>
                <li><a href="contatos.html">contatos</a></li>
                <li><a href="login.html">login</a></li>
            </ul>
        </nav>
    </div>
</body>